<div id="<%= dom_id room %>">
  <p>
    <strong>Name:</strong>
    <%= room.name %>
    <p><%= room.description %></p>
    <p>Price: <%= room.price %></p>
    <p>Status: <%= room.status ? 'Available' : 'Occupied' %></p>
  </p>

</div>
